<!-- 
  This component is a popup that is displayed when user clicks the 
  forgot password link in the signup/signin component. User enters 
  an email address, and if the backend server has their email on
  record, meaning a user signed up with that email address, then an
  email is sent to the provided email address. That email will contain
  a link that when clicked launches this Angular application, displaying
  a page user can use to reset their password.
 -->
<div class="reset-password-container">
  <div class="titleContainer">
    <h2 class="title">Reset Password</h2>
  </div>
  <div mat-dialog-content>
    <form 
      [formGroup]="resetPasswordForm" 
      (ngSubmit)="requestPasswordReset()">
      <div class="form-control-container">
        <mat-form-field>
          <mat-label>email address</mat-label>
          <input type="email" matInput formControlName="email" (input)="disableButtons()">
        </mat-form-field>
        <div class="errors-container">
          <p class="form-error-text" *ngIf="email?.errors?.['required'] && email?.touched">Email is required</p>  
          <p class="form-error-text" *ngIf="email?.errors?.['email'] && email?.touched">Invalid email format</p>    
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button 
      mat-button class="action-button" 
      (click)="requestPasswordReset()"
      [disabled]="disableButtons()">Submit</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
