# mkcert localhost certificates for https
localhost-key.pem
localhost.pem

user_management_public.key
user_management.key

# screenshots of the app
/screenshots.tmp

# server files copied from another github repository
/server