<!-- 
  This component is a page that is displayed when user clicks the 
  forgot password link in the backend sent to the email address user 
  provided in the reset password request popup. That email contained
  a link that when clicked launches this Angular application, displaying
  this page user can use to reset their password.
 -->
<div class="page-container">
  <div class="titleContainer">
    <h2 class="title">Reset Password</h2>
  </div>
    <form 
      [formGroup]="forgotPasswordForm" 
      (ngSubmit)="submit()">
      <div class="form-control-container">
        <mat-form-field>
          <mat-label>password</mat-label>
          <input type="password" matInput formControlName="password" (input)="disableButtons()" autofocus>
        </mat-form-field>
        <div class="errors-container">
          <p class="form-error-text" *ngIf="password?.errors?.['required'] && password?.touched">Password is required</p>
          <p class="form-error-text" *ngIf="(password?.errors?.['minlength'] || password?.errors?.['maxlength']) && password?.touched">Invalid password length (8 - 15 characters)</p>
          <div *ngIf="password?.errors?.['pattern'] && password?.touched">
            <p class="form-error-text">Password requirements:</p>
            <p class="form-error-text">1 uppercase letter</p>
            <p class="form-error-text">1 lowercase letter</p>
            <p class="form-error-text">1 number</p>
            <p class="form-error-text">1 special character (@$!%*?&)</p>
            <p class="form-error-text">8 - 15 character in length</p>
          </div>
        </div>
      </div>
      <div class="form-control-container">
        <mat-form-field>
          <mat-label>password confirm</mat-label>
          <input type="password" matInput formControlName="passwordConfirm" (input)="disableButtons()">
        </mat-form-field>
        <div class="errors-container">
          <p class="form-error-text" *ngIf="forgotPasswordForm?.errors?.['passwordsDoNotMatch'] && passwordConfirm?.touched">Passwords do not match</p>  
        </div>
      </div>
    </form>
  <div>
    <button 
      mat-button class="action-button" 
      (click)="submit()"
      [disabled]="disableButtons()">Submit</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
