<div
  class="side-panel">
  <div class="title-container">
    <h3 class="title">Property Inspector</h3>
    <mat-icon 
      class="close-icon" 
      aria-hidden="false" 
      aria-label="close icon" 
      fontIcon="close"
      (click)="onCloseSidePanel()">
    </mat-icon>
  </div>
  <div class="properties-container">    
    <h2 class="description">{{tagDescription}}</h2>
    <input #elText type="text" [(ngModel)]="elementProperties.textContent" (input)="onPropertyChange(elText.value, 'text')" />
    <app-text-toolbar 
      [fontSizeModel]="elementProperties['font-size']" 
      [textColorModel]="elementProperties['color']"
      [textBackgroundColorModel]="elementProperties['background-color']"
      [changeCallback]="onPropertyChange">
    </app-text-toolbar>
    <app-border-toolbar      
      [borderWidthModel]="elementProperties['border-width']" 
      [borderStyleModel]="elementProperties['border-style']"
      [borderColorModel]="elementProperties['border-color']"
      [changeCallback]="onPropertyChange">      
    </app-border-toolbar>
  </div>
</div>
