<div
  class="side-panel">
  <div class="title-container">
    <h3>Property Inspector</h3>
    <mat-icon 
      class="close-icon" 
      aria-hidden="false" 
      aria-label="close icon" 
      fontIcon="close"
      (click)="onCloseSidePanel()">
    </mat-icon>
  </div>
  <div class="properties-container">    
    <input #elText type="text" [(ngModel)]="elementProperties.textContent" (input)="onPropertyChange(elText.value, 'text')" />
    <app-text-toolbar 
      [fontSizeModel]="elementProperties['font-size']" 
      [textColorModel]="elementProperties['color']"
      [textBackgroundColorModel]="elementProperties['background-color']"
      [changeCallback]="onPropertyChange">
    </app-text-toolbar>
    <div class="control-row">
      <div class="control-container">
        <label for="borderWidth">Border width: </label>
        <input 
          id="borderWidth"
          #elBorderWidth type="number" 
          min="1"
          [(ngModel)]="elementProperties['border-width']" 
          (input)="onPropertyChange(elBorderWidth.value, 'border-width')"
          [ngStyle]="{'width': '40px'}" />
      </div>
      <div class="control-container">
        <label for="borderStyle">Border style: </label>
        <select
          id="borderStyle"
          #elBorderStyle
          [(ngModel)]="elementProperties['border-style']" 
          (change)="onPropertyChange(elBorderStyle.value, 'border-style')">
          <option>dotted</option>
          <option>dashed</option>
          <option>solid</option>
          <option>double</option>
          <option>groove</option>
          <option>ridge</option>
          <option>inset</option>
          <option>outset</option>
          <option>none</option>
          <option>hidden</option>
        </select> 
      </div>
      <app-color-picker 
        [label]="borderColorLabel"
        [selectedColor]="elementProperties['border-color']"
        (colorChanged)="onPropertyChange($event, 'border-color')">
      </app-color-picker>

    </div>
  </div>
</div>
