@import "variables";

.side-panel {
  display: flex;
  flex-direction: column;
  width: 500px;  
  height: 100%;
  border: 1px solid $blueGray600;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}
.title {
  margin: 0;
}
.close-icon {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 20px;
  margin: 0;
}
.description {
  text-align: center;
  color: $deepPurple800;
  margin: 0;
}
.properties-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;  
}
.control-row {
  display: flex;
  align-items: center;
  gap: 30px;
}
.control-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
