$lightBlue50: #E1F5FE;
$lightBlue100: #B3E5FC;
$lightBlue200: #81D4FA;
$lightBlue300: #4FC3F7;
$lightBlue400: #29B6F6;
$lightBlue500: #03A9F4;
$lightBlue600: #039BE5;
$lightBlue700: #0288D1;
$lightBlue800: #0277BD;
$lightBlue900: #01579B;
$lightBlueA100: #80D8FF;
$lightBlueA200: #40C4FF;
$lightBlueA400: #00B0FF;
$lightBlueA700: #0091EA;

$blueGray50: #ECEFF1;
$blueGray100: #CFD8DC;
$blueGray200: #B0BEC5;
$blueGray300: #90A4AE;
$blueGray400: #78909C;
$blueGray500: #607D8B;
$blueGray600: #546E7A;
$blueGray700A: #455A64;
$blueGray800: #37474F;
$blueGray900: #263238;

$green50: #E8F5E9;
$green100: #C8E6C9;
$green200: #A5D6A7;
$green300: #81C784;
$green400: #66BB6A;
$green500: #4CAF50;
$green600: #43A047;
$green700: #388E3C;
$green800: #2E7D32;
$green900: #1B5E20;
$greenA100: #B9F6CA;
$greenA200: #69F0AE;
$greenA400: #00E676;
$greenA700: #00C853;

$deepPurple50: #EDE7F6;
$deepPurple100: #D1C4E9;
$deepPurple200: #B39DDB;
$deepPurple300: #9575CD;
$deepPurple400: #7E57C2;
$deepPurple500: #673AB7;
$deepPurple600: #5E35B1;
$deepPurple700: #512DA8;
$deepPurple800: #4527A0;
$deepPurple900: #311B92;
$deepPurpleA100: #B388FF;
$deepPurpleA200: #7C4DFF;
$deepPurpleA400: #651FFF;
$deepPurpleA700: #6200EA;

$red50: #FFEBEE;
$red100: #FFCDD2;
$red200: #EF9A9A;
$red300: #E57373;
$red400: #EF5350;;
$red500: #F44336;
$red600: #E53935;
$red700: #D32F2F;
$red800: #C62828;
$red900: #B71C1C;
$redA100: #FF8A80;
$redA200: #FF5252;
$redA400: #FF1744;
$redA700: #D50000;