@import "variables";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
}
.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;  
  cursor: pointer;
}
.toolbar-item-details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding: 20px;
}
.icon-container {
  padding: 5px;
  border: 1px solid $blueGray600;
  cursor: pointer;
}
.icon {
  width: 50px;
  height: 50px;
}
.text-controls-icon {
  font-size: 24px;
  margin: 0;
}
.build-area {
  position: absolute;
  top: 125px;
  left: 0;
  right: 10px;
  bottom: 0;
  height: 73vh;
  display: flex;
  align-items: center;
}
.website-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.dragging-over {
  border: 2px dashed $lightBlue900;
}
.disabled-icon {
  cursor: default;
}
.disabled-icon mat-icon {
  color: #aaa;
}
.disabled-icon p {
  color: #aaa;
}
.side-panel {
  height: 100%;
}
.instructions-container {
  position: absolute;
  top: 100px;
  left: 40%;
  z-index: 1;
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.step-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.step-container h3 {
  margin: 0;
}
.step-label {
  display: inline-block;
  color: $green800;
  width: 100px;
}
.reminder {
  margin-top: 50px;
  margin-left: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disclaimer {
  text-align: center;
  width: 600px;
  line-height: 40px;
  color: #512DA8;
}
.smile-icon {
  font-size: 50px;
  width: 55px;
  height: 55px;
  color: $green800;
}