<div class="page-container">
  <div class="toolbar">
    <div 
      class="toolbar-item" 
      title="Layout Containers"
      (mouseover)="onShowLayouts()"
      (mouseleave)="onHideLayouts()">
      <mat-icon aria-hidden="false" aria-label="layout icon" fontIcon="space_dashboard"></mat-icon>
      <div 
        *ngIf="showLayouts"
        class="toolbar-item-details">
        <div 
          *ngFor="let icon of layoutIcons" 
          class="layout-icon-container"
          draggable
          [title]="getTooltip(icon)">
          <img 
            class="layout-icon" 
            [src]="icon"
            (dragstart)="onDragStart($event, icon)" />
        </div>
      </div>
    </div>
  </div>
  <div 
    class="website-container"
    droppable
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"></div>
</div>
