<div class="page-container">
  <div class="toolbar">
    <div 
      class="toolbar-item" 
      [ngClass]="{'disabled-icon': layoutSelected}"
      [title]="getTooltip('layout_icon')"
      (mouseover)="onShowLayouts()">
      <mat-icon aria-hidden="false" aria-label="layout icon" fontIcon="space_dashboard"></mat-icon>
    </div>

    <div 
      class="toolbar-item" 
      [ngClass]="{'disabled-icon': !layoutSelected}"
      [title]="getTooltip('text_controls')"
      (mouseover)="onShowTextControls()">
      <p class="text-controls-icon"><strong>T</strong></p>
    </div>
  </div>
  <div 
    class="toolbar-details"
    (mouseleave)="onHideToolbarDetails()">
    <div 
      *ngIf="showLayouts && !layoutSelected"
      class="toolbar-item-details">
      <div 
        *ngFor="let layout of layoutItems" 
        class="icon-container"
        draggable
        [title]="layout.tooltip">
        <img 
          class="icon" 
          [src]="layout.iconPath"
          (dragstart)="onDragIconStart($event, layout)" />
      </div>
    </div>

    <div 
      *ngIf="showTextControls && layoutSelected"
      class="toolbar-item-details">
      <div 
        *ngFor="let text of textElementItems" 
        class="icon-container"
        draggable
        [title]="text.tooltip">
        <img 
          class="icon" 
          [src]="text.iconPath"
          (dragstart)="onDragIconStart($event, text)" />
      </div>
    </div>
  </div>
  <div class="build-area">
    <div 
      class="website-container"
      (mouseover)="onHideToolbarDetails()"
      droppable
      (dragenter)="onDragEnter($event)"
      (dragleave)="onDragLeave($event)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)">
    </div>
    <app-property-side-panel
      *ngIf="showSidePanel"
      class="side-panel"
      (closeSidePanelEvt)="closeSidePanel()"
      [elem]="sidePanelTarget">
    </app-property-side-panel>
  </div>
</div>
