@import "variables";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
}
.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;  
  cursor: pointer;
}
.toolbar-item-details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding: 20px;
}
.icon-container {
  padding: 5px;
  border: 1px solid $blueGray600;
  cursor: pointer;
}
.icon {
  width: 50px;
  height: 50px;
}
.text-controls-icon {
  font-size: 24px;
  margin: 0;
}
.build-area {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80vh;
  display: flex;
  align-items: center;
}
.website-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}
.dragging-over {
  border: 2px dashed $lightBlue900;
}
.disabled-icon {
  cursor: default;
}
.disabled-icon mat-icon {
  color: #aaa;
}
.disabled-icon p {
  color: #aaa;
}
.side-panel {
  display: flex;
  flex-direction: column;
  width: 500px;  
  height: 100%;
  border: 1px solid $blueGray600;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.close-icon {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  margin: 0;
}
