@import "variables";

.content-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.toolbar-label {
  width: 70px;
}
p {
  margin: 0;
}
.icon-container {
  display: flex;
  align-items: center;
}
.icon-and-editor-container {
  position: relative;
}
.icon-and-editor-container:not(:first-child) {
  margin-right: 30px;
}
.border-width-icon {
  margin-right: 27px;  
}
.border-width-editor,
.border-style-editor,
.border-color-editor {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 30px;
  background-color: $lightBlue50;
  border: 1px solid $lightBlue500;
  border-radius: 10px;
  opacity: 1.0;
  padding: 10px 10px 10px 15px;
  z-index: 300;
}
.border-width-editor {
  width: 145px;
}
.border-style-editor {
  width: 155px;
}
.border-color-editor {
  width: 115px;
}