@import "variables";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  margin-top: 100px;
  gap: 100px;
}
h1, h3 {
  margin: 0;
}
.title.website {
  font-family: 'Fondamento', cursive;
  color: $red900;
  font-size: 85px;
  letter-spacing: 10px;
}
.title.builder {
  font-family: 'Fondamento', cursive;
  color: $green800;
  font-size: 85px;
  letter-spacing: 10px;
}
.unleash {
  font-family: 'Gamja Flower', cursive;
  font-size: 40px;
  letter-spacing: 10px;
  color: $deepPurple800;
}
.buttons-container {
  display: flex;
  align-items: center;
  gap: 100px;
}