<div class="page-container">
  <h1 class="title website">WEBSITE</h1>
  <h1 class="title builder">BUILDER</h1>

  <h3 class="unleash">Unleash your creativity !!!</h3>

  <div class="buttons-container">
    <button 
      *ngIf="!signedIn"
      mat-flat-button 
      color="primary" 
      (click)="onSignupSignin()">SIGNIN / SIGNUP AND EXPLORE</button>
    <button 
      *ngIf="signedIn"
      mat-flat-button 
      color="primary" 
      (click)="onVisitProfile()">VISIT PROFILE PAGE</button>
    <button 
      *ngIf="signedIn"
      mat-flat-button 
      color="primary" 
      (click)="onBuildWebsites()">BUILD WEBSITES !!!</button>
  </div>
</div>